ul .navbar {
    background: #333;
    color: #fff;
    list-style: none;
    display: flex;
}

ul li .navbar {
    font-size: 18px;
    margin-right: 20px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}
